= render 'admin/events/filters'
.panel.panel-primary
  .panel-heading
    %strong Edit an event
  .panel-body
    .row
      .col-md-12
        From Source: #{:source}
    = render 'admin/events/form'
