%p{:style => "text-align: justify;"}
  PIN UP - your complete, comprehensive and collaborative cultural events calendar for the Ottawa-Gatineau metropolitan region.
%p{:style => "text-align: justify;"}
  PIN UP - ton calendrier culturel exhaustif et collaboratif pour la région métropolitaine d'Ottawa-Gatineau.
= yield :filters
